src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd">

	<min-log:config name="config" configId="configId">
	</min-log:config>

	<flow name="set-transaction-properties">
		<min-log:new
			headers="#[null]" />
	</flow>

	<flow name="log">
		<min-log:log level="WARN" msg="This is a test warning message" transactionProperties="#[{}]" />
	</flow>

	<flow name="put">
		<min-log:put key="peters" value="piper" transactionProperties="#[{}]" />
	</flow>

	<flow name="putAll">
		<min-log:put-all newProperties="#[{a:&quot;b&quot;, x : &quot;y&quot;}]" transactionProperties="#[peters:&quot;piper&quot;]" />
	</flow>

	<flow name="use-timed-scope">
		<min-log:new headers="#[null]" target="transactionProperties" />
		<min-log:timed transactionProperties="#[vars.transactionProperties]">
			<min-log:new headers="#[null]"/>
		</min-log:timed>
	</flow>

</mule>
